table thead,table tbody,th{
    text-align: center;
}
body{
	background-image: url('/img/bg.jpg');
}
.row{
	margin-top:10px;
	/*background-color: white !important;*/
}
table{
	background-color:white;
}
.nav-link.active {
    color: #ffffff !important;
    background-color: #007bff !important;
	border-color: #007bff !important;
}